.desa__wilayah {
  background: -moz-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );
}
.desa__wilayah-container li {
  list-style: disc inside;
  color: white;
  padding-bottom: 15px;
}

@media screen and (max-width:1100px){
  .desa__wilayah-container{
    font-size: 15px;
  }
  .desa__wilayah-maps Iframe{
    width: 600px;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width:760px){
  .desa__wilayah-container{
    font-size: 15px;
  }
  .desa__wilayah-maps Iframe{
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width:660px){
  .desa__wilayah-container{
    font-size: 15px;
  }
  .desa__wilayah-maps Iframe{
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width:420px){
  .desa__wilayah-container{
    font-size: 15px;
  }
  .desa__wilayah-maps Iframe{
    padding: 0;
    width: 300px;
    height: 250px;
  }
}
