.desa__data{
    background: -moz-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 99% 100%,
    rgba(0, 19, 117, 1) 0%,
    rgba(98, 6, 147, 1) 100%
  );
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 2rem 4rem;
    margin: 2rem 4rem;
} 

.dropdown{
  position: relative;
  padding: .50rem 0;
}
.dropdown button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: rgb(255, 81, 0);
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  transition: .3s;
}
.dropdown button:hover{
  background: rgb(186, 68, 14);
}
.dropdown button > span{
  display: flex;
  align-items: flex-end;
}
.dropdown-menu{
  position: absolute;
  left: 0;
  top: 100%;
}
@media screen and (max-width: 990px){
    .desa__features {
        flex-direction: column;
    }
    .desa__features-heading{
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px){
    .desa__features-heading h1{
        font-size: 28px;
        line-height: 38px;
    }
    .desa__features{
        display: flex;
        flex-direction: column;
    }
}

.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 6px;
    cursor: pointer;
}